.cont1 {
    width: 100%;
    height: 750px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.582) , rgba(0, 0, 0, 0.596)) , url(../image/3f92a0c9caf925c6b665d5223e44e0eb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    padding-top: 50px;
    padding-right: 20px;
    color: white;
    position: relative;
}

.myh3-cont1 {
    padding-bottom: 50px;
    padding-top: 150px;
    color: rgb(252, 203, 234);
    font-weight: bold;
}

.mybtn-cont1 {
    border: 1px solid mediumvioletred;
    padding: 10px;
    width: 200px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    margin-right: 7px;
    margin-top: 50px;
    transition: all 0.5s;

}

.mybtn-cont1:hover {
    background-color: mediumvioletred ;
}


.img1 {
    width: 200px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 100px;
    animation-name: mobile1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    cursor: pointer;
    /* transition: all 2s; */
    
    
}
.img2 {
    width: 200px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 500px;
    animation-name: mobile2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    cursor: pointer;
    
    
    
}

.img1:hover {
    animation: none;
}

.img2:hover {
    animation: none;
}



@media(max-width:720px){

    .img1 {
        width: 100px;
        height: 200px;
        position: absolute;
        top: 500px;
        left: 50px;
        animation-name: mobile1;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
        
        
    }
    .img2 {
        width: 100px;
        height: 200px;
        position: absolute;
        top: 500px;
        left: 200px;
        animation-name: mobile2;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
        
        
        
    }
    

    .mybtn-cont1 {
        border: 1px solid mediumvioletred;
        padding: 10px;
        width: 200px;
        background-color: transparent;
        font-weight: bold;
        border-radius: 10px;
        color: white;
        margin-right: 60px;
        margin-top: 50px;
        margin-bottom: 20px;
        transition: all 0.5s;
    
    }
}


@keyframes mobile1 {

    to {
        transform: rotatey(180deg);
    }

    from {
        transform: rotatey(360deg);
    }
}


@keyframes mobile2 {

    to {
        transform: rotatey(180deg);
    }

    from {
        transform: rotatey(360deg);
    }
}

.bos {
    text-align: left;
    
    
}



/* end background */








/* section (1) */

.myp-cont2 {
    /* margin-bottom: 50px; */
}

.cont2 {
    text-align: center;
    padding: 40px;
    /* margin-bottom: 50px; */
    position: relative;
}


.sahm{
    /* content: " ";  
    width: 20px;
    height: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: rgba(247, 108, 154, 0.699) transparent transparent transparent;
    margin: auto;
    margin-bottom: 50px; */
    /* position: absolute;
    bottom: 0;
    left: 30%; */
    animation-name: sahm;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate; 
}


@keyframes sahm {

    0% {
        border-width: 10px;
    }

    25% {
        border-width: 30px;

    }

    50% {
        border-width: 50px;

    }

    75% {
        border-width: 30px;

    }

    100% {
        border-width: 10px;

    }
}


.khat1 {
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
    height: 5px;
    border-radius: 60%;
    background:linear-gradient(to right , black , rgb(243, 92, 188)) ;
    animation-name: khat1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.khat2 {
    margin: auto;
    margin-bottom: 20px;
    width: 200px;
    height: 5px;
    border-radius: 30%;
    background:linear-gradient(to left , black , rgb(243, 92, 188)) ;
    animation-name: khat2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}


.khat3 {
    margin: auto;
    margin-bottom: 50px;
    width: 100px;
    height: 4px;
    border-radius: 30%;
    background:linear-gradient(to right , black , rgb(243, 92, 188)) ;
    animation-name: khat3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}


@keyframes khat1 {

    to {

        width: 150px;
    }

     from {

        width: 300px;

     }
}
@keyframes khat2 {

    to {

        width: 100px;
    }

     from {

        width: 200px;

     }
}
@keyframes khat3 {

    to {

        width: 50px;
    }

     from {

        width: 100px;

     }
}

.myh3-cont2 {
    margin-bottom: 20px;
    margin-top: 50px;
    color: mediumvioletred;
}

.bt-yarab  {
    width: 200px;
    height: 200px;
    margin: auto;
    /* box-shadow: 5px 5px black ,5px 5px black ,5px 5px black , 5px 5px black; */
    box-shadow: 5px 10px 20px -2px red inset , 10px 20px 10px 10px black inset ,  10px -7px red inset;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(253, 0, 160, 0.041);
    color: black;
    border: 5px dashed mediumvioletred;
    /* border-left: transparent; */
    animation-name: circle ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    transition: all 2s;
    /* position: relative; */

}






@keyframes circle {

    0% {
        transform:rotate(150deg) ;
    }

    25% {
        /* transform:rotate(150deg) ; */
    }

    50% {
        transform:rotate(390deg) ;
    }

    75% {
        /* transform:rotateY(290deg); */
    }

    100% {
        transform:rotateY(360deg);
    }

}



.bt-yarab:hover{
    animation: none;
    background-color: rgba(253, 0, 160, 0.301);
    border-radius: 50%  0px ;
    border: 2px dashed mediumvioletred;
    box-shadow:5px 5px 5px black ;
    transition: all 2s;

}

.gowa-btn {
    text-align: center;
}

#eeh {
    display: none;
}

.one , .two , .three , .four {
    width: 200px;
    height: 200px;
    background-color: rgba(157, 21, 199, 0.075);
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 20px;
    /* cursor: pointer; */
    transition: all 0.5s;
}

.one:hover {
    background-color: rgba(157, 21, 199, 0.562);
}

.two:hover {
    background-color: rgba(157, 21, 199, 0.562);
}

.three:hover {
    background-color: rgba(157, 21, 199, 0.562);
}

.four:hover {
    background-color: rgba(157, 21, 199, 0.562);
}


@media(max-width:720px) {

    .one , .two , .three , .four {
        width: 200px;
        margin: 5px;
        height: 220px;
        background-color: rgba(157, 21, 199, 0.562);
        text-align: center;
        color: black;
        padding: 10px;
        border-radius: 20px;
    }

}

.cont3 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin: 20px;
    display: none;
    
}

.hide {
    display: none !important;
}

.cont4 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    display: none;
}



i {
    font-size: 35px;
    color: mediumvioletred;
    transition: all 0.7s;
    cursor: pointer;
    
}

i:hover {
    color:rgb(105, 11, 71) ;
    padding: 10px;
    
}

.img3 {
    padding-top: 40px;
    padding-right: 20px;
    /* border-radius: 30px; */
}

@media(max-width:720px) {

    .img3 {
        width: 300px;

        padding-top: 40px;
        padding-right: 20px;
        /* border-radius: 30px; */
    }

}

.cont5 {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.541) , rgba(0, 0, 0, 0.541)) , url(../image/cuarto-con-luces-neon-3472.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding-top: 80px;
    

}

@media(max-width:720px){

    .layin {
        width: 10px;
        text-align: center;
        
    }

    .logo1 {
        font-size: 20px;
        margin-left: 10px;
    }

    .layout {
        width: 25%;
        text-align: center;
        
    }

    .mh2-cont5 {
        font-size: 18px;
    }

    .logo1:hover {
        color:rgb(105, 11, 71) ;
        padding-bottom: 10px;
        
    }
}

/* end section 2 */


/* section (2) */


.cont6 {
    text-align: center;
    margin: 100px;
}

.myh3-cont6 {
    margin-bottom: 20px;
    color: mediumvioletred;
}

.cont7 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    position: relative;
    margin-top: 50px;
}

.cont8 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    position: relative;
}



.logo2 {
    position: absolute;
    left: -50px;
    top: 5px;
    
    
}
.logo3 {
    position: absolute;
    right: -20px;
    top: 5px;
    
}
.logo4 {
    position: absolute;
    left: -50px;
    top: 5px;
    
}
.logo5 {
    position: absolute;
    right: -20px;
    top: 5px;
    
}

.img4 {
    width: 400px;
    height: 400px;
    /* padding-bottom: 70px; */
}

@media(max-width:720px) {

    .img4 {
        width: 300px;
        height: 400px;
        /* padding-bottom: 70px; */
    }

    .myh3-cont6 {
        font-size: 20px;
        margin-bottom: 50px;
        color: mediumvioletred;
    }

    .cont6 {
        text-align: center;
        margin: 20px;
    }

    .logo3 {
        position: absolute;
        right: -30px;
        top: 5px;
    }

    .logo5 {
        position: absolute;
        right: -30px;
        top: 10px;
    }

    .logo2 {
        position: absolute;
        left: -40px;
        top: 5px;
    }
    
    .logo4 {
        position: absolute;
        left: -40px;
        top: 5px;
        
}

}

.cont9 {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.315) , rgba(0, 0, 0, 0.315)) , url(../image/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-top: 70px;
    color: white;
    margin-top: 50px;
}

.myh5-cont9 {
    color: rgba(248, 7, 160, 0.589);
    padding-top: 20px;
}

.btn1-cont9 {
    padding: 10px 10px ;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.329);
    color: mediumvioletred;
    border-radius: 30px;
    margin: 20px;
    width: 200px;
    border: 1px solid mediumvioletred;
}


.btn1-cont9:hover {
    /* background-color: red; */
}

.btn2-cont9 {
    padding: 10px;
    font-size: 25px;
    background-color: rgba(218, 112, 214, 0.384);
    color: white;
    border-radius: 30px;
    margin: 20px;
    width: 200px;
    border: 1px solid mediumvioletred;
}


@media(max-width:720px){

    .btn1-cont9 {
        padding: 10px 10px ;
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.329);
        color: mediumvioletred;
        border-radius: 30px;
        margin: 20px;
        width: 100px;
        border: 1px solid mediumvioletred;
    }
    
    .btn2-cont9 {
        padding: 10px;
        font-size: 25px;
        background-color: rgba(218, 112, 214, 0.384);
        color: white;
        border-radius: 30px;
        margin: 20px;
        width: 100px;
        border: 1px solid mediumvioletred;
    }

    .myh5-cont9 {
        color: rgba(248, 7, 160, 0.589);
        padding-top: 5px;
    }

    .cont9 {
        width: 100%;
        height: 300px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.315) , rgba(0, 0, 0, 0.315)) , url(../image/maxresdefault.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
        padding-top: 5px;
        color: white;
        margin-top: 50px;
    }

}

.logo-in:hover {
    padding: 5px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


ul {
    margin-top: 100px;
    padding: 0px;
}

.accord {
    /* padding-top: 100px; */
    margin: auto;
    width: 1250px;
    /* opacity: 1 !important; */
    height: 700px;
    /* border: 1px solid red; */
    border-radius: 20px;
    overflow: hidden;
}


@media(max-width:720px){

    .cont-accord {
        border-radius: 50px;
        background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3596394.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        width: 340px !important;
        height: 610px !important;
        /* padding-bottom: 200px; */
        margin: auto;
    }
    
    
}
.cont-accord {
    border-radius: 50px ;
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3596394.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 1300px;
    height: 780px;
    /* padding-bottom: 200px; */
    margin: auto;
   
}

.accord li {
    width: 150px;
    display: block;
    float: left;
    border-left: 1px solid wheat;
    cursor: pointer;
    transition: all 2s;
}

.accord ul:hover li {
    width: 50px;
}


.accord ul li:hover {
    width: 800px;
}

@media(max-width:720px) {

    ul {
        margin-top: 100px;
        padding: 0px;
    }
    
    .accord {
        /* padding-top: 100px; */
        margin: auto;
        width: 300px;
        height: 500px;
        /* border: 1px solid red; */
        overflow: hidden;
    }
    
    .accord li {
        width: 25px;
        display: block;
        float: left;
        border-left: 1px solid wheat;
        transition: all 1s;
    }
    
    .accord ul:hover li {
        width: 15px;
    }
    
    
    .accord ul li:hover {
        width: 180px;
    }

    .imag-acc {
        width: 300px;
    }

}

.cont10 {
    text-align: center;
    margin: 50px;
    color:mediumvioletred ;
}



/* end section (2) */


/* footer */



footer {
    width: 100%;
    height: 200px;
    background-image: url(../image/hero-img_copy.jpg);
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    margin-top: 100px;
    color: white;
    position: relative;
    border-radius: 70px 0 0 0;
}


@media(max-width:720px) {

    footer {
        width: 100%;
        height: 300px;
        background-image: url(../image/hero-img_copy.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 100px;
        margin-top: 100px;
        color: white;
        position: relative;
        border-radius: 70px 0 0 0;
    }
    
    .logo-position {
        margin-left: 20px;
        position: absolute;
        top: 20px;
        left: 30px;
    }

    .myp-footer {
        margin-bottom: 20px;
        margin-left: 10px;
    }
}


.logo-position {
    margin-left: 20px;
    position: absolute;
    top: 20px;
    right: 50px;
}

.icon-icon1 {
    margin-left: 20px;
    animation-name: logo2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.icon-icon2 {
    margin-left: 20px;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.icon-icon3 {
    margin-left: 20px;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.icon-icon4 {
    margin-left: 20px;
    animation-name: logo2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}


.foot1 {
    color: rgb(0, 255, 179);
    font-size: 18px;
    font-weight: bold;
    transition: all 1s;
}

.foot1:hover {
    text-decoration: none;
}

@keyframes logo {

    to {

        transform: rotatex(180deg);
    }

    from {
        transform: rotatex(360deg);

    }
}


@keyframes logo2 {

    to {

        transform: rotatey(180deg);
    }

    from {
        transform: rotatey(360deg);

    }
}

.icon-icon1:hover {
    animation: none;
}

.icon-icon2:hover {
    animation: none;
}

.icon-icon3:hover {
    animation: none;
}

.icon-icon4:hover {
    animation: none;
}